<nav class="nav navbar-expand navbar-dark fixed-sm-bottom text-lg menu-dark-mode">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item pt-1 d-none d-sm-block">
      <a href="javascriptvoid(0);" class="nav-link text-white">
        Weather App
      </a>
    </li>
    <li class="nav-item pt-1">
      <a href="javascriptvoid(0);" class="nav-link"> <i class="bi bi-geo-alt"></i> </a>
    </li>
    <li class="nav-item pt-1">
      <a href="javascriptvoid(0);" class="nav-link"> <i class="bi bi-search"></i> </a>
    </li>
    <li class="nav-item">
      <div class="btn-group nav-link" role="group">
        <input type="radio" class="btn-check" name="temperature" id="celsius" autocomplete="off" checked="checked">
        <label class="btn btn-outline-secondary btn-circle" for="celsius">°C</label>
        <input type="radio" class="btn-check" name="temperature" id="fahrenheit" autocomplete="off">
        <label class="btn btn-outline-secondary btn-circle" for="fahrenheit">°F</label>
      </div>
    </li>
  </ul>
</nav>
